{% extends 'base.html' %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <h1 class="card-header" span style="color:darkslategrey">Об авторе</h1>
    <div>
      <ul>
        <section>
          <h2 span style="color:darkslategrey">
            Создатель сайта - скромная персона - Айса Мацакова.
          </h2>
        </section>
        <section>
          <p>
            Приветствую Вас, дорогие посетители сайта на сей площадке!
            Дорогие друзья, как вы уже читали выше, меня зовут Айса и я являюсь создателем данной площадки для блогов.
            Думаю, будет вежливым сначала немного рассказать о себе.
            Я - среднестатистическая девушка из России и профессия у меня также среднестатистическая - бухгалтер.
            В 2006 году окончила школу и пошла учиться на аудитора в КГУ г.Элиста на заочное отделение.
            Параллельно я начала работать в супермаркете, где ежедневно я сталкивалась со множеством разных людей
            с их привычками, плохими привычками, комплексами (которые они вымещали на работников сферы услуг)
            и, конечно же, с их алохим настроением. В таких условиях и начинаешь понимать, что в принципе, при всем
            многообразии есть какие-то общие модели поведения. Благодаря этому удается вырабатывать для себя
            несколько сценариев поведения в ситуациях. Ну да ладно. Вернемся к моей биографии...
            Вскоре у меня появилось чувство, что я должна развиваться, я должна учиться, а не стоять у прилавков и
            выслушивать придирки покупателей в мои-то годы.
            Поэтому в 2007 я пошла учиться в колледж на специальность "Налоговый специалист". Специальность имела
            повышенную сложность со всеми вытекающими: гос. экзамены и дипломная работа. В общем, одновременно я 
            училась очно и заочно. К слову, окончила я колледж с красным дипломом в группе, которую называли "Чертовой
            дюжиной", т.к. нас было в ней 13 студентов.
            В 2010 году, после окончания колледжа, мне нужно было начинать работать по специальности. Налоговым специалистом
            я работать не пошла и не хочу по сей день. Я думаю, вы, дорогие друзья, понимаете причины и без слов.
            В итоге, удалось найти место в холдинге, занимающимся оптовыми продажами продуктов питания и ритейлом. Работая 
            там, параллельно я училась в университете. И да, опять всё и сразу... Молодость она такая.
            В 2012 я окончила КГУ и получила-таки специальность "Бухгалтерский учет, анализ и аудит". 
            А потом началась Москва... Переезд, поиск работы, открытия для себя мира в целом.
            Мой большой и счастливый этап в жизни - рекламное международное агентство BBDO. Я с ним: с 2014 по 2022.
            За это время удалось выучить английский язык с 0 (2015-2016 гг.), выучиться на ювелирного мастера на 
            минималках (отливать слитки, работать с разного рода станками и инструментами, обрамлять в форму драгоценные 
            металлы - филигрань, вставлять камни формы кабошон), постичь кендо, а также по немногу выучить итальянский, французский и китайский.
            Я считаю, что окружение играет огромную роль в нашей жизни. В рабочем пространстве меня окружали только сильнейшие
            специалисты, выигрывавшие международные и отчеественные фестивали и конкурсы в сфере рекламы. Они всегда
            стремились выше, дальше, лучше.
            Ну вот мы и подошли к моменту моей жизни, когда мне вдруг удалось сайт - площадку для вас и ваших прекрасных мыслей
            своими силами. Сие чудо произошло благодаря Яндекс.Практикуму, в который я пошла учиться в октябре 2021 года.
            Честно скажу, никакого опыт в программировании у меня не было вообще. Т.е. я тот самый абсолютный ноль в 
            профессии. Многие посмеивались над бухгалтером, вдруг решившим пойти учиться в совершенно другую сферу деятельности.
            Но как вы уже знаете, для меня это не является чем-то из ряда вон выходящим. Конечно, сложно одновременно работать и
            учиться, но от этого чувствуешь, что живешь. Пожелаем мне удачи в успешной сдаче дипломного проекта и дальнейшей
            реализации себя в программировании!
            И вам я желаю всегда быть полным устремлений и новых идей!
          </p>
        </section>
        <section>
          <p>
            <span style="color:red">
              Мое детище впервые увидел свет в ноябре 2021 года. Блог молодой и непорочный.
              Так давайте же будем аккуратными и будем избегать тем для обсуждений оскорбительных и вызывающих неприязнь и рознь.
            </span>
          </p>
        </section>
        <section>
          <p>
            Благодарю тебя, мой друг, за то, что ты посетил сей блог!
            Если тебе понравился блог либо есть замечания по внешнему его виду,
            ты можешь написать мне и я попробую сделать этот мир немножечко лучше!
          </p>
          <a class="nav-link" href="https://vk.com/id24843018" target="__blank">Можешь написать сюда</a>
        </section>
      </ul>
    </div>
{% endblock %}