{% extends 'base.html' %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <h1 class="card-header">Об авторе</h1>
    <div>
      <ul>
        <section>
          <h2>
            Автор - Айса Мацакова.
          </h2>
        </section>
        <section>
          <p>
            По профессии автор бухгалтер и аудитор, действующий.
            Автор решил попробовать освоить новую профессию в абсолютно новой сфере деятельности.
            Путь привел его в Практикум, на специальность Python-разработчик. Очень сложно постигать
            новое, но автор не сдается.
          </p>
        </section>
        <section>
          <p>
            Интересы довольно широкие от ювелирного дела до языков.
            Занятие кендо, изучение английского и французского языков. Мечта - выучить китайский язык. Хотя бы разговорный.
          </p>
        </section>
        <section>
          <p>
            Сей блог by Автор создан в ноябре 2021 года.
            Темы для обсуждения любые, кроме оскорбительных и вызывающих неприязнь и рознь.
          </p>
        </section>
        <section>
          <p>
            Контакты для связи:
          </p>
        </section>
      </ul>
    </div>
{% endblock %}