{% extends 'base.html' %}
{% block title %}Записи сообщества {{ group }}{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>{{ group.title}}</h1>
    <p>
      <span style="color:green">
        <i>
          <p>{{ group.description }}</p>
        </i>
      </span>
    </p>
      {% for post in page_obj %}
        {% include 'includes/post_feed.html' with display_group_link=False %}
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
  </div>
  {% include 'posts/includes/paginator.html' %}
{% endblock %}