{% extends 'base.html' %}
{% block title %}Новый пароль{% endblock %}
{% block content %}

{% if validlink %}

  {% with card_header='Введите новый пароль.' %}
    {% include 'users/includes/card.html' %}
  {% endwith %}
    {% include 'includes/field_errors.html' %}

  <div class="card-body">
    <form method="post">
      {% csrf_token %}
        
      {% include 'includes/form.html' %}

      <div class="col-md-6 offset-md-4">
        <button type="submit" class="btn btn-primary">
          Назначить новый пароль
        </button>
      </div>
    </form>
{% else %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        Ошибка
      </div>
      <div class="card-body">
        <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %} 