{% extends 'base.html' %}
{% load user_filters %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}
  <div class="container py-5"> 
    {% with card_header='Изменить пароль.' %}
      {% include 'users/includes/card.html' %}
    {% endwith %} 
      {% include 'includes/field_errors.html' %}
                
      <form method="post" action="{% url 'users:password_change_form' %}">
      {% csrf_token %}

      {% include 'includes/form.html' %}

        <div class="col-md-6 offset-md-4">
          <button type="submit" class="btn btn-primary">
            Изменить пароль
          </button>
        </div>
      </form>
  </div>
{% endblock %}